oauth2>=1.5.163

mock==0.7.0rc1
-f http://media.djangoproject.com/releases/1.3/Django-1.3-rc-1.tar.gz

#Official Facebook Python SDK
-e git+http://github.com/facebook/python-sdk/#egg=facebook-python-sdk

django-extensions==0.6
south==0.7.3
